.email {
    padding: 10px;
}

.email:nth-child(odd) {
    background-color: rgba(228, 228, 228, 0.719);
}

.sharp {
    font-weight: 300;
}

.contentText {
    color: purple;
    overflow-wrap: anywhere;
}

.emailBodySection {
    display: flex;
    justify-content: space-between;
}

.bottomEmailSection {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.deleteEmailSVG {
    width: 24px;
    cursor: pointer;
}