.composeEmailPage {
    padding: 1rem 3rem 3rem 3rem;
    flex: 1;
}

.composeEmailHeader {
    font-weight: 300;
}

.composeEmailForm {
    display: flex;
}

.composeEmailSectionLeft, .composeEmailSectionRight {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.composeEmailSectionLeft {
    width: 500px;
}

.allUsersItemsSection {
    margin-top: 1rem;
}