.navbar {
    background: linear-gradient(to right, lightseagreen,rgb(29, 163, 156));
    padding: 8px 1rem 0 0;
    box-shadow: 0px 5px 5px 0px #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLogoSection {
    padding: 0 1rem;
    width: 240px;
    text-align: center;
    cursor: pointer;
}

.msLogoImage {
    height: 80px;
}

.usernameTextSection {
    display: flex;
    align-items: center;
}

.usernameText::before {
    content: 'Welcome, ';
}

.usernameText {
    color: white;
    margin: 0 10px 0 0;
    padding: 0;
}